<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{url_for('static', filename = 'user_profile.css')}}" rel="stylesheet">
  
</head>
<div class="container bootstrap snippets bootdey">
<div class="row">
  <div class="profile-nav col-md-3">
      <div class="panel">
          <div class="user-heading round">
              <a href="#">
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
              </a>
              <h1>{{ current_user.username }}</h1>
              <p>{{ current_user.email }}</p>
          </div>

         
      </div>
  </div>
  <div class="profile-info col-md-9">
      
      <div class="panel">
          <div class="bio-graph-heading">
              Vento - MH 12 SX 9089
          </div>
          <div class="panel-body bio-graph-info">
              <h1>Bio Graph</h1>
              <div class="row">
                  <div class="bio-row">
                      <p><span>Name </span>: {{ current_user.username }}</p>
                  </div>
                  
                  <div class="bio-row">
                      <p><span>Country </span>: India</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Occupation </span>: Software Engineer</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Email </span>: {{ current_user.email }}</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Mobile </span>: (+91) 6202991217</p>
                  </div>
                 
              </div>
          </div>
      </div>
      
             
  </div>
</div>
</div>